
.combo-box {
    -fx-background-color: transparent;       
    -fx-border-color: transparent;        
    -fx-background-insets: 0;                
    -fx-padding: 0 5 0 5;                 
}


.combo-box .text {
    -fx-fill: black;                        
    -fx-font-family: "Berlin Sans FB";       
    -fx-font-size: 16px;                   
}

.combo-box .arrow-button {
    -fx-background-color: transparent;       
    -fx-padding: 0;                        
}

.combo-box .list-view {
    -fx-background-color: transparent;       
    -fx-control-inner-background: transparent;
    -fx-padding: 0;
}

.combo-box .list-cell {
    -fx-background-color: transparent;       
    -fx-text-fill: black;                    
}

.combo-box .list-cell:filled:selected {
    -fx-background-color: rgba(255, 255, 255, 0.3);  
}

.combo-box .scroll-bar {
    -fx-background-color: transparent;     
}
